<div class="stolen-frosty span9 offset2 text-center">
	<h1 class="stolen-h1">
		Lesson: <%= @pic.lesson %>
	</h1>

	<%= image_tag @pic.image %>

	<h2>
		I Felt: <%= @pic.emotion %>
	</h2>

	<h2>
		I Learned: <%= @pic.learned %>
	</h2>

	<%= link_to 'Back', pics_path, :class => 'btn btn-success btn-large' %>
	<%= link_to 'Delete', pic_path(@pic), :method => :delete, :class => 'btn btn-large btn-danger', :confirm => 'You sure you want to delete this?' %>
	<%= link_to 'Edit', edit_pic_path(@pic), :class => 'btn btn-large btn-warning' %>
</div>